<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Tracking Platform</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
    <div class="logo">
        <a href="/"><img src="/static/logo.ico" alt="Logo" class="logo-image"></a>
    <a href="/"><h1>TRACE CHAIN</h1></a>
    </header>
    <h1 style="width: 600px;;font-size: 50px;background-color: rgba(15, 214, 32, 0.881);border: 2px;border-radius: 20px;color: aliceblue;border: 2px solid #000;"><a href="/carbon_footprint_calculator">Calculate Carbon Footprint</a></h1>
    
    <form action="/add_transaction" method="post">
        <label for="data">Enter Carbon Footprint Data in tons of CO2:</label><br>
        <input type="number" id="data" name="data"><br><br>
        <input type="submit" value="Submit">
    </form>
    <h2>Carbon Footprint Over Time:</h2>
    <div class="graph">
        <img id="graph-img" src="/graph" alt="Carbon Footprint Over Time">
    </div>
    <h2>Recent Blocks</h2>
    <div class="blockchain">
        {% for block in chain %}
            <div class="block">
                <p><strong>Block {{ block.index }}</strong></p>
                <p><strong>Timestamp:</strong> {{ block.timestamp }}</p>
                <p><strong>Data:</strong> {{ block.data }}</p>
                <p><strong>Previous Hash:</strong> {{ block.previous_hash }}</p>
                <p><strong>Hash:</strong> {{ block.hash }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>

    <footer>
        <p>&copy; TECH MAGES</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
